.aboutbox {
	background: #eff3f7;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-ms-border-radius: 4px;
	margin-bottom: 52px;
	box-sizing: border-box;
}

.aboutbox-header {
	font-family: 'fira_sanslight';
	font-size: 27px;
	font-weight: normal;
	color: #3ba8c0;
	border-bottom: 2px #3ba8c0 solid;
	margin: 0 0 33px 0;
	padding: 8px 23px;
	display: inline-block;
}

.aboutbox-body {
	padding-bottom: 40px;
}
.image-wrap {
	float: left;
	margin-left: 55px;
	margin-top: 10px;
}
.avatar-box {
	width: 142px;
	height: 142px;
	border-radius: 50% 50%;
	-moz-border-radius: 50% 50%;
	-webkit-border-radius: 50% 50%;
	-ms-border-radius: 50% 50%;
	overflow: hidden;
	border: 5px solid #3ba8c0;
}

.worksheet-wrap {
	float: right;

}

.worksheet-info {
	float: left;
	margin-left: 25px;
	font-family: 'fira_sanslight';
	font-size: 15px;
	overflow: hidden;
	max-width: 218px;
}

.worksheet-item {
	list-style: none;
	position: relative;
}

.aboutbox-item {
	list-style: none;
    position: relative;
    padding-left: 72px;
    margin-top: 22px;
}

.worksheet-list {
	margin: -5px 8px;
    padding: 0;
    font-size: 16px;
}

.worksheet-item
{
    list-style: none;
    width: 410px;
    color: #37424d;
}

.worksheet-what {
	float: left;
    font-family: 'fira_sansmedium';
    font-size: 1.03em;
}

.worksheet-info {
	float: left;
    max-width: 225px;
    margin-left: 18px;
    font-size: 0.9em;
}

.skills-list {
	padding: 0;
}

.skill-item {
	background: #3ba8c0;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzNiYThjMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ3JSIgc3RvcC1jb2xvcj0iIzFlNTc5OSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ3JSIgc3RvcC1jb2xvcj0iIzI2NWViZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijk5JSIgc3RvcC1jb2xvcj0iIzNiYThjMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
	background: -moz-linear-gradient(top,  #3ba8c0 0%, #1e5799 47%, #265ebf 47%, #3ba8c0 99%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3ba8c0), color-stop(47%,#1e5799), color-stop(47%,#265ebf), color-stop(99%,#3ba8c0));
	background: -webkit-linear-gradient(top,  #3ba8c0 0%,#1e5799 47%,#265ebf 47%,#3ba8c0 99%);
	background: -o-linear-gradient(top,  #3ba8c0 0%,#1e5799 47%,#265ebf 47%,#3ba8c0 99%);
	background: -ms-linear-gradient(top,  #3ba8c0 0%,#1e5799 47%,#265ebf 47%,#3ba8c0 99%);
	background: linear-gradient(to bottom,  #3ba8c0 0%,#1e5799 47%,#265ebf 47%,#3ba8c0 99%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3ba8c0', endColorstr='#3ba8c0',GradientType=0 );
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-ms-border-radius: 4px;
	padding: 0 7px;
	margin-left: 6px;
	margin-bottom: 6px;
	color: #ffffff;
	display: inline-block;
	line-height: 1.2;
	min-width: 40px;
	text-align: center;
}

.where {
	font-weight: bold;
}

.period {
	font-size: 0.9em;
}


.icon:before {
	content: "";
    display: block;
    position: absolute;
    left: 23px;
    top: 5px;
    width: 42px;
    height: 23px;
}

.icon-work {
	background: url(../img/work.png) no-repeat;
}

.icon-edu {
	 background: url(../img/edu.png) no-repeat;
}

.icon-course {
	background: url(../img/course.png) no-repeat;
}